.BasicSingleScreenApp/GrooveYou/*.iml
.BasicSingleScreenApp/GrooveYou/gradle
.BasicSingleScreenApp/GrooveYou/local.properties
.BasicSingleScreenApp/GrooveYou/.idea/workspace.xml
.BasicSingleScreenApp/GrooveYou/.idea/libraries
.BasicSingleScreenApp/GrooveYou/DS_Store
.BasicSingleScreenApp/GrooveYou/build
.BasicSingleScreenApp/GrooveYou/captures
.BasicSingleScreenApp/GrooveYou/.externalNativeBuild

.BooksApp/Books-Android/*.iml
.BooksApp/Books-Android/.gradle
.BooksApp/Books-Android/local.properties
.BooksApp/Books-Android/.idea/workspace.xml
.BooksApp/Books-Android/.idea/libraries
.BooksApp/Books-Android/.DS_Store
.BooksApp/Books-Android/build
.BooksApp/Books-Android/captures
.BooksApp/Books-Android/.externalNativeBuild

.CourtCounterApp/CourtCounter/*.iml
.CourtCounterApp/CourtCounter/.gradle
.CourtCounterApp/CourtCounter/local.properties
.CourtCounterApp/CourtCounter/.idea/workspace.xml
.CourtCounterApp/CourtCounter/.idea/libraries
.CourtCounterApp/CourtCounter/.DS_Store
.CourtCounterApp/CourtCounter/build
.CourtCounterApp/CourtCounter/captures
.CourtCounterApp/CourtCounter/.externalNativeBuild

.InventoryApp/StoreHouse/*.iml
.InventoryApp/StoreHouse/.gradle
.InventoryApp/StoreHouse/local.properties
.InventoryApp/StoreHouse/.idea/workspace.xml
.InventoryApp/StoreHouse/.idea/libraries
.InventoryApp/StoreHouse/.DS_Store
.InventoryApp/StoreHouse/build
.InventoryApp/StoreHouse/captures
.InventoryApp/StoreHouse/.externalNativeBuild

.QuizApp/BasketQuizApp/*.iml
.QuizApp/BasketQuizApp/.gradle
.QuizApp/BasketQuizApp/local.properties
.QuizApp/BasketQuizApp/.idea/workspace.xml
.QuizApp/BasketQuizApp/.idea/libraries
.QuizApp/BasketQuizApp/.DS_Store
.QuizApp/BasketQuizApp/build
.QuizApp/BasketQuizApp/captures
.QuizApp/BasketQuizApp/.externalNativeBuild

.TourGuideApp/TourGuideofGujrat/*.iml
.TourGuideApp/TourGuideofGujrat/.gradle
.TourGuideApp/TourGuideofGujrat/local.properties
.TourGuideApp/TourGuideofGujrat/.idea/workspace.xml
.TourGuideApp/TourGuideofGujrat/.idea/libraries
.TourGuideApp/TourGuideofGujrat/.DS_Store
.TourGuideApp/TourGuideofGujrat/build
.TourGuideApp/TourGuideofGujrat/captures
.TourGuideApp/TourGuideofGujrat/.externalNativeBuild

