.BasicSingleScreenApp/GrooveYou/*.iml
.BasicSingleScreenApp/GrooveYou/gradle
.BasicSingleScreenApp/GrooveYou/local.properties
.BasicSingleScreenApp/GrooveYou/.idea/workspace.xml
.BasicSingleScreenApp/GrooveYou/.idea/libraries
.BasicSingleScreenApp/GrooveYou/DS_Store
.BasicSingleScreenApp/GrooveYou/build
.BasicSingleScreenApp/GrooveYou/captures
.BasicSingleScreenApp/GrooveYou/.externalNativeBuild
